.sidebar {
  background-color: blue;
}



.games {
  background: purple;
}

table {
  border: 1px solid gray;
}

td {
    border: 1px solid gray;
}

p {
  overflow: scroll;
}
// .games-response {
//     width: 720px;
//     height: 355px;
//     display: flexbox;
//     overflow: scroll;
//     margin: 24px 279px;
// }

.games-response-hidden {
  display: hidden
}
