
/* Color Themes */

/* Primary Colors */ 

$primary-color-dark:   #0288D1;
$primary-color:        #03A9F4;
$primary-color-light:  #B3E5FC;
$primary-color-text:   #FFFFFF;
$accent-color:         #607D8B;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;

$toggle-color: #00BcD4;
$stripe-color: #CCF1F6;

/* Purle Lime Green Theme */
$lime-green-light: #68EFAD;
$lime-green-accent: #3EFFA1;
$purple-light: #9B26AF;
$purple-accent: #7A1EA1;
$purple-dark: #691A99;


.sidebar {
  background-color: blue;
}



.games {
  background: purple;
}



p {
  overflow: scroll;
}

/* Card Header  */
.Card-Header {
background-color: $primary-color;
}


/* Sidebar */
.Slidebar {
background-color: $accent-color;
}

/* Searchbox */
.Searchbox {

}

/* Table */
.Table-parameters {
  
  
}

table {
  border: 1px solid $divider-color;
}

td {
    border: 1px solid $divider-color;

}



/* Card */
.Card {
background-color: $stripe-color;
text-align: center;
}


/* Sandbox */
.Sandbox {
  background: transparent;
}

/* Form */
.Form {

}

/* Form inside */
.Form-paper {

}

//color fixed
.score_range-input-text {

}
/* Response */
.games-response {  
  width: 770px;
  height: 540px;
}

.games-response-hidden {  
  width: 770px;
  height: 540px;
}

/* Response inside */
.games-response-inside {
  background: transparent;
  overflow: scroll;
  width: 740px;
  height: 509px;
}

.genres-response-inside {
  background: transparent;
  overflow: scroll;
  width: 740px;
  height: 509px;
}


.games-response-hidden {
  display: hidden;
}